<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Verify Your Email</title>
  </head>
  <body>
    <h1>VERIFY YOUR EMAIL</h1>
    <p>hello {{name}}</p>
    <p>click Verify Below to verify your email</p>
    <a href='{{url}}'>Verify</a>
    <h2>Email expires after 24 hours, Thank you</h2>
  </body>
</html>