<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>ALTCAMP EMAIL VERIFICATION</title>
  </head>
  <body>
    <p>Hello {{name}},</p>
    <p>Thank you for joining AltCamp. Use the following one-time password (OTP)
      to verify your email address.</p>
    <h3>{{token}}</h3>
    <p>This OTP is valid for {{tokenValidity}}.</p>

    <p>Cheers,</p>
    <p><strong>AltCamp Team</strong></p>
  </body>
</html>