<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>ALTCAMP EMAIL VERIFICATION</title>
  </head>
  <body>
    <p>Hello {{name}},</p>
    <p>Enter the code below on altcamp to verify your email</p>
    <h3>{{token}}</h3>
    <p>Token expires after 24 hours, Thank you</p>
  </body>
</html>