<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<html lang='en'>

  <head data-id='__react-email-head'></head>
  <div
    id='__react-email-preview'
    style='display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0'
  >Verify your email address on AltCamp<div></div>
  </div>

  <body
    data-id='__react-email-body'
    style='background-color:rgb(255,255,255);margin-top:auto;margin-bottom:auto;margin-left:auto;margin-right:auto;font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji'
  >
    <table
      align='center'
      width='100%'
      data-id='__react-email-container'
      role='presentation'
      cellSpacing='0'
      cellPadding='0'
      border='0'
      style='max-width:37.5em;background-color:rgb(248,249,250);border-width:1px;border-style:solid;border-color:rgb(234,234,234);border-radius:0.25rem;margin-top:40px;margin-bottom:40px;margin-left:auto;margin-right:auto;padding:20px;width:465px'
    >
      <tbody>
        <tr style='width:100%'>
          <td>
            <table
              align='center'
              width='100%'
              class=''
              data-id='react-email-section'
              border='0'
              cellPadding='0'
              cellSpacing='0'
              role='presentation'
            >
              <tbody>
                <tr>
                  <td style='padding:15px'><img
                      data-id='react-email-img'
                      alt='AltCamp'
                      src='https://i.ibb.co/cbpBDvM/altcamplogo.png'
                      width='50'
                      height='28'
                      style='display:block;outline:none;border:none;text-decoration:none;margin-top:0px;margin-bottom:0px;margin-left:auto;margin-right:auto'
                    /></td>
                </tr>
              </tbody>
            </table>
            <table
              align='center'
              width='100%'
              data-id='react-email-section'
              border='0'
              cellPadding='0'
              cellSpacing='0'
              role='presentation'
              style='margin-top:16px;background-color:rgb(255,255,255);border-width:1px;border-style:solid;border-color:rgb(234,234,234)'
            >
              <tbody>
                <tr>
                  <td>
                    <table
                      align='center'
                      width='100%'
                      data-id='react-email-section'
                      border='0'
                      cellPadding='0'
                      cellSpacing='0'
                      role='presentation'
                      style='border-bottom-width:1px;border-style:solid;border-color:rgb(234,234,234);width:100%;padding:15px'
                    >
                      <tbody>
                        <tr>
                          <td style='padding:15px'><img
                              data-id='react-email-img'
                              alt='MailBox'
                              src='https://i.ibb.co/jv4fhxv/mailbox.png'
                              width='144'
                              height='122.9'
                              style='display:block;outline:none;border:none;text-decoration:none;margin-top:0px;margin-bottom:0px;margin-left:auto;margin-right:auto'
                            /></td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      align='center'
                      width='100%'
                      data-id='react-email-section'
                      border='0'
                      cellPadding='0'
                      cellSpacing='0'
                      role='presentation'
                      style='border-bottom-width:1px;border-style:solid;border-color:rgb(234,234,234);width:100%;padding:15px'
                    >
                      <tbody>
                        <tr>
                          <td>
                            <h1
                              data-id='react-email-heading'
                              style='color:rgb(0,0,0);font-size:16px;font-weight:600;text-align:center;padding:0px;margin-top:15px;margin-bottom:15px;margin-left:0px;margin-right:0px'
                            >Verify your email address</h1>
                            <p
                              data-id='react-email-text'
                              style='font-size:14px;line-height:24px;margin:16px 0;color:rgb(0,0,0);padding:16px'
                            >Hello {{name}},</p>
                            <p
                              data-id='react-email-text'
                              style='font-size:14px;line-height:24px;margin:16px 0;color:rgb(0,0,0);padding:16px'
                            >Thank you for joining AltCamp. Use the following
                              one-time password (OTP) to verify your email
                              address.</p>
                            <table
                              align='center'
                              width='100%'
                              data-id='react-email-section'
                              border='0'
                              cellPadding='0'
                              cellSpacing='0'
                              role='presentation'
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <p
                                      data-id='react-email-text'
                                      style='font-size:40px;line-height:24px;margin:16px 0;color:rgb(71,74,163);font-weight:700;letter-spacing:0.1em;text-align:center'
                                    >{{token}}</p>
                                    <hr
                                      data-id='react-email-hr'
                                      style='width:105px;border:none;border-top:1px solid #eaeaea;border-style:solid;border-color:rgb(71,74,163);margin-top:5px;margin-bottom:5px;margin-left:auto;margin-right:auto'
                                    />
                                    <p></p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table
                              align='center'
                              width='100%'
                              data-id='react-email-section'
                              border='0'
                              cellPadding='0'
                              cellSpacing='0'
                              role='presentation'
                              style='text-align:center;margin-top:32px;margin-bottom:10px'
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <p
                                      data-id='react-email-text'
                                      style='font-size:15px;line-height:24px;margin:16px 0;color:rgb(33,37,41);font-weight:400;text-align:center'
                                    >Token expires after
                                      {{tokenValidity}}, Thank you.</p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <p
                              data-id='react-email-text'
                              style='font-size:13px;line-height:24px;margin:16px 0;color:rgb(173,181,189);font-weight:300;text-align:center;margin-top:10px;margin-bottom:10px'
                            >If you received this in error, simply ignore this
                              email</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>