<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>PASSWORD RESET</title>
  </head>
  <body>
    <p>Hello {{name}},</p>
    <p>Use the following one-time password (OTP) to reset your password:</p>
    <h3>{{token}}</h3>
    <p>This OTP expires after {{tokenValidity}}.</p>

    <p>Thank you,</p>
    <p><strong>AltCamp Team</strong></p>
  </body>
</html>